/ {
	chosen {
		zephyr,canbus = &can2;
		zephyr,spi = &spi1;
		zephyr,adc = &adc1;
	};
};

&adc1 {
	pinctrl-0 = <&adc1_in0_pa0 &adc1_in1_pa1 &adc1_in4_pa4 >;
	pinctrl-names = "default";
	st,adc-clock-source = <SYNC>;
	st,adc-prescaler = <2>;
	status = "okay";
};